<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gym1.mapper.OrderMapper">

    <insert id="addOrder" parameterType="com.gym1.entity.Order">
        insert into `order`(orderTime, venueStateId, userId, comment, price)
        values (#{orderTime}, #{venueStateId}, #{userId}, #{comment}, #{price})
    </insert>

    <select id="queryOrderByUserId" resultType="com.gym1.entity.Order">
        select o.id, o.orderTime, s.end, s.begin, v.name, v.address, o.price
        from `order` o left join venue_state s on o.venueStateId = s.id
        left join venue v
        on s.venueId = v.id
        where o.userId = #{id}
    </select>

    <select id="queryVenueIdByOrderId" resultType="int">
        select v.id
        from `order` o left join venue_state s on o.venueStateId = s.id
        left join venue v
        on s.venueId = v.id
        where o.id = #{orderId}
    </select>

    <update id="editCommentState">
        UPDATE `order`
        SET comment = #{state}
        where id = #{orderId}
    </update>

    <select id="queryOrderByUserIdComment" resultType="com.gym1.entity.Order">
        select o.id, o.orderTime, s.end, s.begin, v.name, v.address, o.price
        from `order` o left join venue_state s on o.venueStateId = s.id
        left join venue v
        on s.venueId = v.id
        where o.userId = #{id} and o.comment = 0
    </select>

    <delete id="deleteOrder">
        delete from `order`
        where id = #{id}
    </delete>

    <select id="queryVenueStateIdByOrderId" resultType="int">
        select o.venueStateId
        from `order` o
        where o.id = #{id}
    </select>

    <select id="queryAllOrder" resultType="com.gym1.entity.Order">
        select o.id, o.orderTime, s.end, s.begin, v.name, v.address, o.price, u.name usern, u.username, u.phoneNumber
        from `order` o left join venue_state s on o.venueStateId = s.id
            left join user u on u.id = o.userId
        left join venue v
        on s.venueId = v.id
    </select>

    <select id="queryOrderById" resultType="com.gym1.entity.Order">
        select o.id, o.orderTime, s.end, s.begin, v.name, v.address, o.price, u.name usern, u.username, u.phoneNumber
        from `order` o left join venue_state s on o.venueStateId = s.id
            left join user u on u.id = o.userId
        left join venue v
        on s.venueId = v.id
        where o.id = #{id}
    </select>

    <select id="queryOrderIdByOrder" resultType="int" parameterType="com.gym1.entity.Order">
        select o.id
        from `order` o
        where o.venueStateId = #{venueStateId} and o.userId = #{userId}
    </select>

    <select id="countNumberByVenueId" resultType="int">
        select COUNT(v.name)
        from `order` o left join venue_state s on o.venueStateId = s.id
        left join venue v
        on s.venueId = v.id
        where v.id = #{id} and o.orderTime > #{day} and v.valid = 1
    </select>

</mapper>
